# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Foundry
out/
cache/
broadcast/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

